@model Identity.Models.Combination

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Combination</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        @for (int i = 0; i < Model.CombinationNumber.Count; i++)
        {

            <dt>
                @Html.DisplayNameFor(model => model.CombinationNumber.ElementAt<Content>(0).ContentName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CombinationNumber.ElementAt<Content>(i).ContentName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CombinationNumber.ElementAt<Content>(0).ContentNumber)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CombinationNumber.ElementAt<Content>(i).ContentNumber)
            </dd>
        }
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CombinationId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
